.data-box {
    height: 25rem;
    background-color: $color-black;
    opacity: .5;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
    border-radius: 5px;
    transition: all .2s;

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }
}